*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  /* border: solid 1px lightblue; */
}

.btn {
  background-color: #a59678;
  border: 0;
  border-radius: 50px;
  padding: 0.25em 0.75em;
  text-transform: uppercase;
}

.image {
  max-width: 100%;
}

.container {
  max-width: min(85%, 1000px);
  margin: auto;
  padding: 5rem 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.gap-xs {
  gap: 0.5rem;
}

.gap-sm {
  gap: 1rem;
}

.gap-med {
  gap: 2rem;
}

.gap-lrg {
  gap: 4rem;
}

.font-primary {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.font-secondary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.bkgd-dark {
  background-color: #3b4050;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #ffffff;
}

.text-accent {
  color: #a59678;
}

.text-medium {
  color: #6f737f;
}

.header {
  background-color: #2e323f;
}

.header-content {
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
  /* border: solid 1px red; */
}

.header-title {
  font-family: 'Comic Neue';
  font-size: 2rem;
  font-weight: 700;
}

.nav-list {
  align-items: center;
  gap: 0.5rem;
}

.nav-link {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.section-one {
  background-color: #3b4050;
}

.section-one-content {
  align-items: center;
}

.section-one-title {
  font-size: 5rem;
  line-height: 100%;
}

.section-one-text {
  font-size: 1.5rem;
}

.section-one-btn {
  padding: 0.25em 1.75em;
  width: fit-content;
  font-size: 1.5rem;
}

.section-two {
  background-color: #f5f5f5;
}

.section-two-title {
  color: #a59678;
  font-size: 2rem;
}

.section-two-text {
  font-size: 1rem;
}

.section-three-title {
  font-size: 1.75rem;
  /* font-size: max(4ch, 1.3rem); */
}

.section-three-text {
  font-size: 1.3rem;
}

.sidebar {
  background-color: #2e323f;
  padding: 2rem;
}

.sidebar-title {
  font-size: 2rem;
  line-height: 75%;
}

.sidebar-text {
  font-size: 1rem;
}

.footer-title {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.footer-subtitle {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.footer-text {
  font-size: 1rem;
}

@media (min-width: 700px) {
  .row-med {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section-two-article {
    width: 25%;
  }
}

@media (min-width: 1000px) {
  .row-lrg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }

  .col-lrg {
    display: flex;
    flex-direction: column;
  }

  .section-three {
    border: solid 1px red;
    display: flex;
    gap: 5rem;
  }
}
