*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.btn {
  background-color: #a59678;
  border: 0;
  border-radius: 50px;
  padding: 0.25em 0.75em;
  text-transform: uppercase;
}

.image {
  max-width: 100%;
}

.container {
  max-width: min(85%, 1000px);
  margin: auto;
  padding: 4rem 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-ctr {
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.gap-xs {
  gap: 0.5rem;
}

.gap-sm {
  gap: 1rem;
}

.gap-med {
  gap: 2rem;
}

.gap-lrg {
  gap: 4rem;
}

.font-primary {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.font-secondary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.bkgd-dark {
  background-color: #3b4050;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #ffffff;
}

.text-accent {
  color: #a59678;
}

.text-medium {
  color: #6f737f;
}

.header {
  background-color: #2e323f;
}

.header-content {
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-family: 'Comic Neue';
  font-size: 2rem;
  font-weight: 700;
}

.nav-list {
  align-items: center;
  gap: 0.5rem;
}

.nav-link {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.section-one {
  background-color: #3b4050;
}

.section-one-content {
  align-items: center;
}

.section-one-title {
  font-size: 4rem;
  line-height: 5rem;
}

.section-one-text {
  font-size: 1.25rem;
}

.section-one-btn {
  padding: 0.25em 1.75em;
  width: fit-content;
  font-size: 1.5rem;
}

.section-two {
  background-color: #f5f5f5;
}

.section-two-title {
  color: #a59678;
  font-size: 2rem;
}

.section-two-text {
  font-size: 1rem;
}

.section-three-title {
  font-size: 1.65rem;
}

.section-three-text {
  font-size: 1.1rem;
}

.sidebar {
  gap: 2rem;
}

.sidebar-section {
  background-color: #2e323f;
  padding: 2rem;
}

.sidebar-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.sidebar-text {
  font-size: 0.9rem;
}

.footer-content {
  align-items: center;
  gap: 1.5rem;
  /* border: #f5f5f5 solid 1px; */
}

.footer-title {
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
}

.footer-subtitle {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.footer-text {
  font-size: 0.75rem;
}

@media (min-width: 700px) {
  .gap-lrg {
    gap: 3rem;
  }

  .flex {
    flex-direction: row;
  }

  .text {
    text-align: left;
  }

  .nav-link {
    font-size: 1rem;
  }

  .sidebar {
    flex-direction: row;
    gap: 1rem;
  }

  .sidebar-title {
    font-size: 1.25rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-section {
    width: 50%;
    justify-content: space-between;
    align-self: flex-start;
  }
}

@media (min-width: 1000px) {
  .row-lrg {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 5rem; */
  }

  .col-lrg {
    display: flex;
    flex-direction: column;
  }

  .section-three {
    display: flex;
    /* gap: 5rem; */
  }
}
