*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 50%;
  max-width: 100%;
}

.container {
  max-width: min(90%, 1000px);
  margin: auto;
  padding: 5rem 0;
}

.row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.center-text {
  text-align: center;
}

.header {
  background-color: #2e323f;
  color: #ffffff;
  font-size: 18px;
}

.header-content {
  width: 80%;
  margin: auto;
  padding: 1rem 0;
  /* border: solid 1px red; */
}

nav > ul {
  font-family: 'Oswald', sans-serif;
}

ul {
  list-style: none;
  /* border: solid 1px lightblue; */
}

nav {
  margin-left: auto;
  align-items: center;
  gap: 3rem;
  /* border: solid 1px white; */
}

.nav-text {
  font-family: 'Comic Neue';
  font-size: 2rem;
  font-weight: 700;
}

.nav-link-list {
  gap: 2rem;
}

.section-one {
  background-color: #3b4050;
  color: #ffffff;
}

.text-accent {
  color: #a59678;
}

.section-one-title {
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
}

.section-one-content {
  margin-top: 2rem;
}

.section-one-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.btn {
  background-color: #a59678;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;

  border: 0;
  border-radius: 50px;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
}

.section-two {
  background-color: whitesmoke;
}

.section-two-article {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-two-title {
  color: #a59678;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.section-two-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 700px) {
  .row-med {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 1000px) {
  .row-lrg {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .col-lrg {
    display: flex;
    flex-direction: column;
  }
}
