*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  /* border: solid 1px lightblue; */
}

.btn {
  background-color: #a59678;
  border: 0;
  border-radius: 50px;
  padding: 0.25em 0.75em;
  text-transform: uppercase;
}

.image {
  /* width: 50%; */
  max-width: 100%;
}

.container {
  max-width: min(85%, 1000px);
  margin: auto;
  padding: 5rem 0;
}

.row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.bkgd-dark {
  background-color: #3b4050;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #ffffff;
}

.text-accent {
  color: #a59678;
}

.text-medium {
  color: #6f737f;
}

.header {
  background-color: #2e323f;
}

.header-content {
  /* margin: auto; */
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
  /* border: solid 1px red; */
}

.header-title {
  font-family: 'Comic Neue';
  font-size: 2rem;
  font-weight: 700;
}

.nav {
  /* margin-left: auto; */
  /* align-items: center; */
  /* gap: 1rem; */
  /* border: solid 1px white; */
}

.nav-list {
  gap: 1rem;
}

.nav-pages,
.nav-login {
  align-items: center;
  gap: 0.5rem;
}

.nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.section-one {
  background-color: #3b4050;
}

.section-one-title {
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
  line-height: 100%;
}

.section-one-content {
  margin-top: 2rem;
}

.section-one-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.test-text {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.section-two {
  background-color: whitesmoke;
}

.section-two-article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-two-title {
  color: #a59678;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.section-two-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.section-three-title {
  color: #a59678;
  font-family: 'Oswald', sans-serif;
  font-size: 1.75rem;
  /* font-size: max(4ch, 1.3rem); */
  font-weight: 700;
}

.section-three-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;

  padding: 2rem 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-article {
  background-color: #2e323f;
  padding: 2rem;
}

.sidebar-title {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 75%;

  padding-bottom: 2rem;
}

.sidebar-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.footer-title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.footer-subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 700px) {
  .row-med {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section-two-article {
    width: 25%;
  }
}

@media (min-width: 1000px) {
  .row-lrg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }

  .col-lrg {
    display: flex;
    flex-direction: column;
  }

  .section-three {
    border: solid 1px red;
    display: flex;
    gap: 5rem;
  }
}
